@import url("fonts.css");


strong{
    font-weight: bold;
}

a, i, button {
    transition: all 0.3s ease-in-out;
}

.row{
    width: 100% !important;
}

.navbar-default {
    padding: 10px 0;
    border: 0;
}

.navbar-default .navbar-brand{
    font-size: 32px;
    color: #49505b;
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand:hover{
    color: #858786;
    transform: scale(1.05);
}


.navbar-default .nav li a {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #49505b;
}

.navbar-default .nav li a:hover{
    color: #858786;
    transform: scale(1.05);
}

.reg_button {
    border:1px solid #00aeee;
    color: #00aeee !important;
    border-radius: 5px;
    padding: 10px 20px !important;
    margin-top: 5px;
    margin-left: 30px;
}

.login_button{
    margin-top:5px;
    margin-left: 20px;
    text-transform:capitalize;
    color:#fff !important;
    background:#00aeee;
    font-size:1em;
    border-radius: 5px;
    padding: 10px 20px !important;
}

.login_button:hover {
    color:#fff !important;
    background:#00aeee !important;
}

.login_button:focus{
    color:#fff !important;
    background:#00aeee !important;
}

footer{
    min-height: 70px;
    padding-top: 25px;
    height: 70px;
}

#divider{
    height:1px;
    background:#e8e9ea;
    width:100% !important;
}

#copyright{
    color: #49505b;
    font-size: 16px;
    text-align: center;
    padding: 0 0 10px;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

#links{
    text-align: center;
}

#links a{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #49505b;
    padding: 20px;
}


